{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/catalogo.css' %}">
    <script src = "https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <title>Catalogo</title>
</head>
<body>
{% include './navbar.html' %}



    


    <div class="columns">
        <div class="column na1">
            <article class="panel is-primary">
                <p class="panel-heading">
                  Filtro
                </p>
                <!-- <p class="panel-tabs">
                  <a class="is-active">All</a>
                  <a>Public</a>
                  <a>Private</a>
                  <a>Sources</a>
                  <a>Forks</a>
                </p> -->
                <div class="panel-block">
                  <p class="control has-icons-left">
                    <input class="input is-primary" type="text" placeholder="Search">
                    <span class="icon is-left">
                      <i class="fas fa-search" aria-hidden="true"></i>
                    </span>
                  </p>
                </div>
                <a class="panel-block ">
                  <span class="panel-icon">
                    <i class="fas fa-shoe-prints" aria-hidden="true"></i>
                  </span>
                  Zapateros
                </a>
                <a class="panel-block">
                  <span class="panel-icon">
                    <i class="fas fa-desktop" aria-hidden="true"></i>
                  </span>
                  Escritorios
                </a>
                <a class="panel-block">
                  <span class="panel-icon">
                    <i class="fas fa-couch" aria-hidden="true"></i>
                  </span>
                  Sillas de mesa
                </a>
                <a class="panel-block">
                  <span class="panel-icon">
                    <i class="fas fa-bed" aria-hidden="true"></i>
                  </span>
                  Camas
                </a>
              </article>
        </div>
        <div class="column catalogo">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="https://static3.elcontainer.cl/15613-home_default/mueble-bar-vitrina.jpg" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                    </div>
                    <div class="media-content">
                      <p class="title is-5">Mueble bar Vitrina</p>
                    </div>
                  </div>
              
                  <div class="content">
                    <span class="price product-price">$ 89.990</span>
                    <span class="old-price product-price">$ 112.990</span>
                  </div>
                </div>
              </div>
        </div>
        <div class="column catalogo">
          <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="https://static3.elcontainer.cl/15613-home_default/mueble-bar-vitrina.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                  </div>
                  <div class="media-content">
                    <p class="title is-5">Mueble bar Vitrina</p>
                  </div>
                </div>
            
                <div class="content">
                  <span class="price product-price">$ 89.990</span>
                  <span class="old-price product-price">$ 112.990</span>
                </div>
              </div>
            </div>
      </div>
      <div class="column catalogo">
        <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://static3.elcontainer.cl/15613-home_default/mueble-bar-vitrina.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                </div>
                <div class="media-content">
                  <p class="title is-5">Mueble bar Vitrina</p>
                </div>
              </div>
          
              <div class="content">
                <span class="price product-price">$ 89.990</span>
                <span class="old-price product-price">$ 112.990</span>
              </div>
            </div>
          </div>
    </div>
      </div>
     

      <div class="columns">
        <div class="column na1">
            
        </div>
        <div class="column catalogo">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="https://static3.elcontainer.cl/15613-home_default/mueble-bar-vitrina.jpg" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                    </div>
                    <div class="media-content">
                      <p class="title is-5">Mueble bar Vitrina</p>
                    </div>
                  </div>
              
                  <div class="content">
                    <span class="price product-price">$ 89.990</span>
                    <span class="old-price product-price">$ 112.990</span>
                  </div>
                </div>
              </div>
        </div>
        <div class="column catalogo">
          <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="https://static3.elcontainer.cl/15613-home_default/mueble-bar-vitrina.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                  </div>
                  <div class="media-content">
                    <p class="title is-5">Mueble bar Vitrina</p>
                  </div>
                </div>
            
                <div class="content">
                  <span class="price product-price">$ 89.990</span>
                  <span class="old-price product-price">$ 112.990</span>
                </div>
              </div>
            </div>
      </div>
      <div class="column catalogo">
        <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://static3.elcontainer.cl/15613-home_default/mueble-bar-vitrina.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                </div>
                <div class="media-content">
                  <p class="title is-5">Mueble bar Vitrina</p>
                </div>
              </div>
          
              <div class="content">
                <span class="price product-price">$ 89.990</span>
                <span class="old-price product-price">$ 112.990</span>
              </div>
            </div>
          </div>
    </div>
      </div>




<!-- 
{% include './footer.html' %} -->
</body>
</html>