{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    
    <!-- <link rel="stylesheet" href="{% static 'css/navbar.css' %}"> -->

   
    <title></title>
</head>
<body>
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://versions.bulma.io/0.7.0">
        <img src="https://versions.bulma.io/0.7.0/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
      </a>
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  
    <!-- Inicio -->
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{% url 'inicio' %}">
          Inicio
        </a>
        <a class="navbar-item" href="{% url 'catalogo' %}">
          Catalogo
        </a>
        <a class="navbar-item" href="{% url 'pedidos' %}">
          Pedidos
        </a>
        <a class="navbar-item" href="{% url 'admin' %}">
        Administrador
        </a>
       
          </div>
        </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://bulma.io" target="_blank" href="https://www.instagram.com/nobleatavio/">
                <br>
                <span class="icon">
                  <i class="fab fa-instagram"></i>
                </span>
                <span>
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" href="" >
                <br>
                <span class="icon" >
                  <i class="fas fa-envelope"></i>
                </span>
                <span></span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
         
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<script src="{% static '/js/navbar.js' %}"></script>
</body>


</html>